app/node_modules/**/*
app/.expo/*
app/npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
app/web-build/
api/node_modules
api/dist

# macOS
.DS_Store

# Environments
env/

# Pycache
__pycache__/
*.pyc
node_modules

#Service Account
api/serviceAccount.json
node_modules

#Secrets
secrets/
